/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  padding: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin: 0;
  background: #191919;
}

.subheader {
  font-size: 18px;
}

.subheader img {
  width: 18px;
  margin-right: 8px;
  vertical-align: text-top;
}

.right-aligned {
  text-align: right;
  width: 100%;
}

.subheader mat-form-field {
  font-size: 12px;
  width: 114px;
}

.frame {
  margin: 36px;
}

.instrument {
  margin-bottom: 3px;
}

.name-prop {
  display: inline-block;
  width: 100px;
  padding: 7px 12px 7px 0;
  text-align: right;
  text-transform: uppercase;
  font-weight: 600;
  background: #333;
  color: #fff;
  border-radius: 2px;
  margin-right: 3px;
}

.beat-frame {
  display: inline-block;
  width: calc( 100% - 120px);
  vertical-align: top;
}

.beat-square {
  width: 32px;
  height: 32px;
  background: #eaeaea;
  margin: 0 4px;
  display: inline-block;
  border-radius: 2px;
  position: relative;
}

.beat-square:nth-child(4n),
.beat-square:nth-child(4n-1),
.beat-square:nth-child(4n-2),
.beat-square:nth-child(4n-3) {
  background: #333;
}

.beat-square:nth-child(8n),
.beat-square:nth-child(8n-1),
.beat-square:nth-child(8n-2),
.beat-square:nth-child(8n-3) {
  background: #282828;
}

.beat-square>.filled {
  background: #333;
  border-radius: 2px;
  width: 40%;
  height: 40%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.instrument:nth-child(1) .name-prop, .instrument:nth-child(1) .beat-square>.filled {
  background: #ef5350 !important;
}
.instrument:nth-child(2) .name-prop, .instrument:nth-child(2) .beat-square>.filled {
  background: #ff7043 !important;
}
.instrument:nth-child(3) .name-prop, .instrument:nth-child(3) .beat-square>.filled {
  background: #29b6f6 !important;
}
.instrument:nth-child(4) .name-prop, .instrument:nth-child(4) .beat-square>.filled {
  background: #5c6bc0 !important;
}
