/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  padding: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin: 0;
}

.subheader {
  font-size: 18px;
}

.subheader img {
  width: 18px;
  margin-right: 8px;
  vertical-align: text-top;
}

.right-aligned {
  text-align: right;
  width: 100%;
}

.subheader mat-form-field {
  font-size: 12px;
  width: 114px;
}
