<mat-toolbar color="primary">
    <mat-toolbar-row class="mat-elevation-z6">
      <span>Splice 808</span>
    </mat-toolbar-row>
  <mat-toolbar-row class="subheader">
      <img src="./assets/imgs/fire.svg" />
      <span>Control Panel</span>

      <div class="right-aligned">
        <button mat-icon-button>
            <mat-icon class="material-icons-round">stop</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon class="material-icons-round">play_arrow</mat-icon>
        </button>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="BPM" [(ngModel)]="bpm">
        </mat-form-field>
        <mat-form-field>
        <mat-label>Sequences</mat-label>
        <mat-select [value]="0" (selectionChange)="setSelectedSequence($event.value)">
          <mat-option *ngFor="let sequence of sequences" [value]="sequence.id">
            {{sequence.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="frame">
  <div class="instrument" *ngFor="let instrument of selectedSequence">
    <div class="name-prop">{{instrument.name}}</div>
    <div class="beat-frame">
      <div class="beat-square"
           *ngFor="let step of instrument.steps; let i = index">
        <div *ngIf="step === 1" class="filled"></div>
      </div>
    </div>
  </div>
</div>
